
:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
}

body {
    background: var(--white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}
.list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

/* --------Хедер-------- */
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    outline: 2px solid tomato;
}

 .logo-first {
    color: var(--accent-color);
 }
 .logo-head {
    color: #000000;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
 }
 
.site-nav .link {
    color: var(--secondary-text-color);
    font-weight: 500;
    line-height: 1.14;
}
 
.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
    letter-spacing: 0.02em;
}
.contacts {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}

/* --------Hero-------- */
.hero {
    background-color: #2F303A;
    text-align: center;
}
.hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero button {
    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}


.section-title {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--secondary-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* --------privileges-------- */
.privileges-title {
    margin-top: 0;
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.privileges-description {
    margin-bottom: 0;
}

.team-name {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.team-position{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

/* --------Footer-------- */
footer {
    background-color: #2F303A;
}
.address {
    color: var(--white-color);

}
.logo-footer {
    color: var(--white-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.address a{
    color: var(--white-color);
    font-style: normal;
}
.contacts-footer {
    color: rgba(255, 255, 255, 0.6);
}
.contacts-footer:hover,
.contacts-footer:focus {
    color: var(--accent-color);
}

/* --------Portfolio-------- */
.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
}
.project-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.button {
    border-radius: 4px;
    padding: 6px 22px;
    background-color: #F5F4FA;
    color: var(--secondary-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}